<template>
  <div class="container">
    <div class="table">
      <div class="header">
        <div class="cell">Company</div>
        <div class="cell">Date</div>
        <div class="cell">Amount</div>
      </div>
      <investment-item
        v-for="investment in investments"
        :key="investment.id"
        v-bind="investment"
        :is-removing="removingItemIds.includes(investment.id)"
        @remove="handleRemove"
      />
    </div>
    <alert v-if="error" @close="setError(null)" :message="error.message" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class";

import Alert from "@/components/alert.vue";
import { InvestmentExtended as InvestmentInterface } from "@/interfaces/investment.interface";
import InvestmentItem from "./investment-item.vue";

const investment = namespace("investment");

@Component({ components: { Alert, InvestmentItem } })
export default class Investments extends Vue {
  @investment.State
  public investments!: InvestmentInterface[];

  @investment.State
  public error!: Error | null;

  @investment.Action
  public remove!: (companyId: number) => Promise<void>;

  @investment.Mutation
  public setError!: () => Promise<void>;

  public removingItemIds: number[] = [];

  public async handleRemove(id: number): Promise<void> {
    this.removingItemIds.push(id);

    try {
      await this.remove(id);
    } finally {
      this.removingItemIds = this.removingItemIds.filter(
        (itemId) => itemId !== id
      );
    }
  }
}
</script>

<style scoped lang="scss">
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .alert {
    margin-top: 8px;
  }
}
</style>
