<template>
  <div class="item">
    <div class="cell company-name">
      <span class="dot" />
      <div>{{ company.name }}</div>
    </div>
    <div class="cell">{{ date | dateFormat }}</div>
    <div class="cell amount">
      <span>{{ amount | numberFormat }}</span>
      <loader v-if="isRemoving" :size="12" :width="2" />
      <button v-else @click="remove">
        <img
          src="../assets/icons/trash-can.svg"
          alt="Trash icon"
          class="trash-icon"
        />
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

import CompanyInterface from "@/interfaces/company.interface";
import Loader from "@/components/loader.vue";

@Component({ components: { Loader } })
export default class InvestmentItem extends Vue {
  @Prop({ type: Number, required: true }) readonly id!: number;
  @Prop({ type: String, required: true }) readonly date!: string;
  @Prop({ type: Number, required: true }) readonly amount!: number;
  @Prop({ type: Object, required: true }) readonly company!: CompanyInterface;
  @Prop({ type: Boolean, default: false }) readonly isRemoving!: boolean;

  @Emit()
  remove(): number {
    return this.id;
  }
}
</script>

<style scoped lang="scss">
.trash-icon {
  width: 16px;
  filter: invert(42%) sepia(5%) saturate(0%) hue-rotate(187deg) brightness(90%)
    contrast(85%);
}
</style>
