<template>
  <div class="alert" :style="{ width: `${width}px` }">
    {{ message }}
    <button @click="close" class="close-btn">x</button>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

@Component
export default class Alert extends Vue {
  @Prop({ type: String, default: "" }) readonly message!: string;
  @Prop({ type: Number, default: 300 }) readonly width!: number;

  @Emit()
  close(): void {
    return undefined;
  }
}
</script>

<style scoped lang="scss">
@import "../scss/variables";

.alert {
  position: relative;
  padding: 12px 24px;
  background: $error;
  color: #fff;
  border-radius: 4px;

  &:hover {
    .close-btn {
      display: inherit;
    }
  }

  .close-btn {
    position: absolute;
    top: 4px;
    right: 8px;
    display: none;
    color: #fff;
  }
}
</style>
