<template>
  <div
    class="loader"
    :style="{
      width: `${size}px`,
      height: `${size}px`,
      borderWidth: `${width}px`,
    }"
  />
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Loader extends Vue {
  @Prop({ type: Number, default: 60 }) readonly size!: number;
  @Prop({ type: Number, default: 4 }) readonly width!: number;
}
</script>

<style scoped lang="scss">
@import "../scss/variables";

.loader {
  $border-width: 4px;

  border: $border-width solid $gray;
  border-top: $border-width solid $main;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
