<template>
  <div id="app">
    <h1>Rundit Assignment</h1>
    <div id="nav">
      <router-link to="/">Investments</router-link> |
      <router-link to="/summary">Summary</router-link>
    </div>
    <loader v-if="isLoading" />
    <router-view v-else />
  </div>
</template>

<script lang="ts">
import { namespace } from "vuex-class";
import { Component, Vue } from "vue-property-decorator";

import Loader from "@/components/loader.vue";

const investment = namespace("investment");

@Component({ components: { Loader } })
export default class App extends Vue {
  @investment.State
  public isLoading!: boolean;

  @investment.Action
  public getAll!: () => Promise<void>;

  created(): void {
    this.getAll();
  }
}
</script>

<style lang="scss">
@import "./scss/main";

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $font-main;
  margin-top: 60px;
}

#nav {
  padding: 30px;

  a {
    font-weight: 700;
    color: $font-main;

    &.router-link-exact-active {
      color: $main;
    }
  }
}
</style>
