@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  background: $background-gray;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table {
  border: 1px solid $gray;

  .header {
    display: flex;
    background: $table-header-bg;
    box-shadow: inset 5px 0px 0 $header-border;

    .cell {
      height: 50px;
      font-weight: 700;
    }
  }

  .item {
    display: flex;

    &:not(:last-of-type) {
      border-bottom: 1px solid $gray;
    }
  }

  .cell {
    display: flex;
    align-items: center;
    width: 160px;
    height: 40px;
    padding: 0 18px;
    box-sizing: border-box;
  
    &:not(:last-of-type) {
      border-right: 1px solid $blue-gray;
    }

    &.company-name .dot {
      $size: 16px;

      width: $size;
      height: $size;
      margin-right: 16px;
      border-radius: 50%;
      background: $main;
    }

    &.amount {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
    }
  }
}

button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 0;
}