<template>
  <div class="table">
    <summary-header
      :selected-year="selectedYear"
      :years="years"
      @select="selectYear"
    />
    <summary-item
      v-for="company in companies"
      :key="company.id"
      :company="company"
      :amount="getCompanyInvestmentsByYear(company.id)"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class";
import { isAfter, parseISO, subYears } from "date-fns";

import CompanyInterface from "@/interfaces/company.interface";
import { InvestmentExtended as InvestmentInterface } from "@/interfaces/investment.interface";
import SummaryHeader from "./summary-header.vue";
import SummaryItem from "./summary-item.vue";

const investment = namespace("investment");

@Component({ components: { SummaryHeader, SummaryItem } })
export default class Summary extends Vue {
  @investment.State
  public investments!: InvestmentInterface[];

  @investment.State
  public companies!: CompanyInterface[];

  @investment.Getter
  public investmentsByCompanyId!: { [key: number]: InvestmentInterface[] };

  readonly years = Object.freeze({ one: 1, three: 3, five: 5 });

  public selectedYear: number = this.years.five;

  public selectYear(year: number): void {
    this.selectedYear = year;
  }

  public getCompanyInvestmentsByYear(id: number): number {
    const investments: InvestmentInterface[] = this.investmentsByCompanyId[id];

    if (!investments) return 0;
    return investments.reduce((acc, investment) => {
      const date: Date = parseISO(investment.date);
      const referenceDate: Date = subYears(new Date(), this.selectedYear);
      const isAfterReferenceDate: boolean = isAfter(date, referenceDate);

      if (isAfterReferenceDate) {
        acc += investment.amount;
      }

      return acc;
    }, 0);
  }
}
</script>

<style scoped lang="scss">
::v-deep .cell:first-of-type {
  width: 300px;
}
</style>
