<template>
  <div class="item">
    <div class="cell company-name">
      <span class="dot" />
      <div>{{ company.name }}</div>
    </div>
    <div class="cell amount">
      <span>{{ amount | numberFormat }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import CompanyInterface from "@/interfaces/company.interface";

@Component
export default class SummaryItem extends Vue {
  @Prop({ type: Number, required: true }) readonly amount!: number;
  @Prop({ type: Object, required: true }) readonly company!: CompanyInterface;
}
</script>
