<template>
  <div class="header">
    <div class="cell">Total Invested Amount</div>
    <div class="cell amount">
      <button
        @click="select(years.five)"
        :class="{ selected: selectedYear === years.five }"
      >
        {{ years.five }}Y
      </button>
      <button
        @click="select(years.three)"
        :class="{ selected: selectedYear === years.three }"
      >
        {{ years.three }}Y
      </button>
      <button
        @click="select(years.one)"
        :class="{ selected: selectedYear === years.one }"
      >
        {{ years.one }}Y
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

@Component
export default class SummaryHeader extends Vue {
  @Prop({ type: Object, required: true }) readonly years!: {
    one: number;
    three: number;
    five: number;
  };
  @Prop({ type: Number, required: true }) readonly selectedYear!: number;

  @Emit()
  select(year: number): number {
    return year;
  }
}
</script>

<style scoped lang="scss">
.amount button.selected {
  font-weight: 700;
}
</style>
